/* Variables */
:root {
    /* Colors */
    --main-bg-color: #000;
    --main-text-color: #fff;
    --main-gray-color: #222;
    --main-red-color: #f40612;
    --secondary-gray-color: #303030;
    /* Font sizes */
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-64: 64px;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
}

/* Valores padrão para dispositivos móveis */

h1 {
    font-size: var(--fs-28);
    font-weight: 600;
}

h2, h3 {
    font-size: var(--fs-18);
    font-weight: 400;
}

h5 {
    font-size: var(--fs-16);
    font-weight: 400;
}

/* Bootstrap */

.btn {
    border-radius: 0;
    padding: 8px 16px;
}

.btn-danger {
    background-color: var(--main-red-color);
}

/* Custom Styles */

.dropdown {
    align-self: right;
}

.dropdown-toggle {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    padding: 2px;
}

.navbar {
    background: transparent;
    padding: 16px;
    position: relative;
    margin: 0 40px 0 40px;
}

.navbar-brand {
    color: #e50914;
    font-weight: bold;
    font-size: var(--fs-24);
    letter-spacing: -2px;
}

#main-content {
    background: linear-gradient(
        to top, 
        rgba(0,0,0,0.8) 0%,
        rgba(0,0,0,0.5) 40%,
        rgba(0,0,0,0.5) 75%, 
        rgba(0,0,0,0.8) 100%
        ), url("../../assets/images/home.jpg");
    background-size: cover;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 450;
}

.main-content {
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 104px 0px;
}

.main-content__input-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content__input-container input {
    flex: 1;
    max-width: 500px;
    padding: 12px;
    width: 100%;
}

.benefits-content {
    padding: 32px 32px 40px 32px;
    border-bottom: 8px solid var(--main-gray-color);
}

.benefits-section:first-of-type {
    border-top: 8px solid var(--main-gray-color);
}

.benefits-content div {
    padding: 32px;
}

.benefits-content img {
    width: 100%;
    height: auto;
}

.benefits-content h1 {
    font-size: var(--fs-48);
}

.faq-content {
    text-align: center;
    padding: 15px;
    border-bottom: 8px solid var(--main-gray-color);
}

.faq-content h1 {
    font-size: var(--fs-48);
    padding-top: 10px;
}

#accordion {
    max-width: 800px;
    margin: 0 auto;
    background: var(--main-bg-color);
    padding-bottom: 40px;
}

#accordion .accordion-button {
    border: none;
    background: var(--secondary-gray-color);
    margin-top: 8px;
    margin-bottom: 2px;
    color: var(--main-text-color);
    font-size: var(--fs-20);
}

#accordion .accordion-body {
    background-color: var(--main-gray-color);
    color: var(--main-text-color);
}

.accordion-item {
    background-color: var(--main-bg-color);
}

.faq-content .main-content__input-container {
    padding-bottom: 50px;
}

footer {
    color: #606060;
    padding-top: 50px;
    font-size: var(--fs-20);
}

footer a {
    color: #606060;
    text-decoration: none;
    font-size: var(--fs-16);
}

.links-footer a {
    font-size: 14px;
    padding-left: 5px;
    padding-bottom: 30px;
}

@media (min-width: 576px) {

    h1 {
        font-size: var(--fs-40);
        font-weight: 600;
    }

    h2 {
        font-size: var(--fs-26);
    }

    h3 {
        font-size: var(--fs-20);
    }
}

@media (min-width: 992px){

    .navbar-brand {
        font-size: var(--fs-32);
    }

    h1 {
        font-size: var(--fs-48);
        font-weight: 600;
    }

    h2{
        font-size: var(--fs-26);
    }

    h3 {
        font-size: var(--fs-20);
    }

    h5 {
        font-size: var(--fs-16);
    }

    .main-content {
        margin: 0 300px;
    }

    #accordion .accordion-button {
        font-size: var(--fs-26);
    }

    #accordion .accordion-body {
        font-size: var(--fs-24);
    }
}